.customerpro{
    display:flex;
}
/* Customerpro.css */

.profile-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px hwb(0 0% 100% / 0.5);
}

.profile-info {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Add any additional styling as needed */

.active-tab {
    border-left: 4px solid rgb(245, 42, 42);
    background-color: rgba(87, 253, 11, 0.2);
    padding-left: 12px;
}
