.ride-request {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px hwb(0 0% 100% / 0.5);
    border-radius: 0.5rem;
}

.ride-request p {
    margin: 0.5rem 0;
}

.ride-request.no-data {
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.accept-btn {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.accept-btn:hover {
    background-color: #218838;
}

.customerpro {
    display: flex;
}

.m-3 {
    margin: 1rem;
}
.driverprofile{
    display: flex;
    gap:1.5%;
}
.driverprofile1{
    width:auto;
    display:flex;
}