.safe {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.safe1 {

    height: 600px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4%;
}